<!DOCTYPE html>
<html>
<head>
  <title>Sandbox</title>
  <%= javascript_include_tag :application %>
  <%= yield :javascript %>
  <meta name="turbolinks-cache-control" content="no-preview">
</head>
<body>

<%= yield %>

</body>
</html>
