<!DOCTYPE html>
<html>
<head>
  <title>Sandbox</title>

  <meta name="turbolinks-cache-control" content="no-cache">
  <%= csp_meta_tag %>

  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
</head>
<body>

<%= yield %>

</body>
</html>
