language: ruby

before_install:
  - gem update bundler

rvm:
  - 2.2.7
  - 2.3.4
  - 2.4.1

gemfile:
  - gemfiles/rails-3.2.gemfile
  - gemfiles/rails-4.0.gemfile
  - gemfiles/rails-4.1.gemfile
  - gemfiles/rails-4.2.gemfile
  - gemfiles/rails-5.0.gemfile
  - gemfiles/rails-5.1.gemfile

matrix:
  exclude:
    - rvm: 2.4.1
      gemfile: gemfiles/rails-4.0.gemfile
    - rvm: 2.4.1
      gemfile: gemfiles/rails-4.1.gemfile
