language: ruby

before_install:
  - gem update bundler

rvm:
  - 2.1.10
  - 2.2.5
  - 2.3.1

gemfile:
  - gemfiles/rails-3.2.gemfile
  - gemfiles/rails-4.0.gemfile
  - gemfiles/rails-4.1.gemfile
  - gemfiles/rails-4.2.gemfile
  - gemfiles/rails-5.0.gemfile

matrix:
  exclude:
    - rvm: 2.1.10
      gemfile: gemfiles/rails-5.0.gemfile
