<h1>TinyMCE Demos</h1>

<ul>
  <li><%= link_to 'TinyMCE Helpers', :action => :helpers %></li>
  <li><%= link_to 'TinyMCE Standalone', :action => :standalone %></li>
  <li><%= link_to 'TinyMCE with jQuery', :action => :jquery %></li>
</ul>
