<h1>TinyMCE Demos</h1>

<ul>
  <li><%= link_to 'TinyMCE Standalone', :action => :standalone %></li>
  <li><%= link_to 'TinyMCE with jQuery', :action => :jquery %></li>
  <li><%= link_to 'TinyMCE with Static JS', :action => :static %></li>
</ul>
